# full iCEstick pinout:
# http://www.pighixxx.com/test/portfolio-items/icestick/

set_io --warn-no-port RX 9
set_io --warn-no-port TX 8
set_io LED1 99
set_io LED2 98
set_io LED3 97
set_io LED4 96
set_io LED5 95
set_io clk 21
set_io TST1 44
set_io TST2 45
set_io TST3 47
set_io TST4 48
set_io TST5 56
